<div class="modal fade" id="destinationDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ destination?.name }}</h5>
          <!-- Call the close() method when the close button is clicked -->
          <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
        </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addToTripPlan()">Add to your trip plan</button>
      </div>
    </div>
  </div>
</div>
  <!-- Add *ngIf="destinationDetailsDialog" -->
  <!--<app-destination-details-dialog *ngIf="destinationDetailsDialog" #destinationDetailsDialog></app-destination-details-dialog>-->

</div>
