<div class="container mt-4">
  <!-- Header -->
  <div class="d-flex align-items-center justify-content-between">
    <a class="btn btn-primary btn-sm" routerLink="/"><i class="bi bi-arrow-left"></i> Back</a>
    <h1 class="mb-0 text-light">Destinations</h1>
  </div>

  <!-- Search Bar -->
  <div class="input-group mt-4">
    <input type="text" class="form-control" placeholder="Search destinations">
    <button class="btn btn-primary" type="button">Search</button>
  </div>

  <!-- Popular Destinations -->
  <h2 class="mt-5">Popular Destinations</h2>
  <div class="row">
    <!-- Destination cards -->
    <div class="col-md-4 mt-4" *ngFor="let destination of destinations">
      <div class="card">
        <img [src]="destination.image" class="card-img-top" alt="Destination Image">
        <div class="card-body">
          <h5 class="card-title">{{destination.name}}</h5>
          <p class="card-text">{{destination.description}}</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav class="mt-5">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item" [class.active]="currentPage === 1" (click)="goToPage(1)"><a class="page-link" href="javascript:void(0)">1</a></li>
      <li class="page-item" [class.active]="currentPage === 2" (click)="goToPage(2)"><a class="page-link" href="javascript:void(0)">2</a></li>
      <li class="page-item" [class.active]="currentPage === 3" (click)="goToPage(3)"><a class="page-link" href="javascript:void(0)">3</a></li>
      <li class="page-item" [class.disabled]="currentPage === 3">
        <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
