<div class="home-background">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 d-flex flex-column justify-content-between text-center">
        <div class="mt-5">
          <h1 class="display-4 fw-bold text-light">Travel Planner App</h1>
          <p class="lead fw-bold mt-3">"Plan your perfect trip with ease"</p>
        </div>
        <p class="lead fw-bold mt-3 text-light description-background">Discover, plan, and book the trip of a lifetime with the Travel Planner App! Our intuitive platform helps you explore top destinations, create custom itineraries, and seamlessly manage your bookings in one place. Experience a stress-free travel adventure with the Travel Planner App, your ultimate travel companion.</p>

        <div class="mb-4 d-grid gap-2 justify-content-around" style="grid-template-columns: repeat(2, 1fr);">
          <a href="#" class="btn btn-primary btn-lg col my-auto" routerLink="/destinations">Explore Destinations</a>
          <a href="#" class="btn btn-success btn-lg col p-3" routerLink="/trip-planner">Create a Trip</a>
        </div>
      </div>
    </div>
  </div>
</div>
